@model IEnumerable<MeetingTracker.Models.Meeting>

@{
    ViewBag.Title = "Index";
}

<h2>Meetings</h2>


<p>

    <a class="btn btn-primary btn-large" @Html.ActionLink("Capture New Meeting", "Create") />   </p>
<table class="webgrid-table">
    <tr class="webgrid-row-style">
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.MeetingType.MeetingTypeDescription)
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.MeetingDescription)
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.MeetingDate)
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th class="webgrid-header">Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingType.MeetingTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MeetingId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MeetingId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MeetingId })
        </td>
    </tr>
}

</table>
