@using System.Web.Mvc.Html
@model IEnumerable<MeetingTracker.Models.MeetingItemStatus>

@{
    ViewBag.Title = "Index";
}

<h2>Meeting Minutes</h2>

<p>
    @Html.ActionLink("Update Meeting Item", "Create")
</p>
<table class="table">
    <tr>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.Meeting.MeetingDescription)
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.MeetingItem.MeetingItemDescription)
        </th>
        <th class="webgrid-header">
            Responsible Person
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.CurrentStatus)
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.ActionRequired)
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </th>
        <th class="webgrid-header">Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Meeting.MeetingDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingItem.MeetingItemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActionRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateUpdated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MeetingItemStatusId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MeetingItemStatusId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MeetingItemStatusId })
        </td>
    </tr>
}

</table>
