@model IEnumerable<MeetingTracker.Models.MeetingItem>

@{
    ViewBag.Title = "Index";
}

<h2>Meeting Items</h2>

<p>
    @Html.ActionLink("Add New Item", "Create")
</p>
<table class="webgrid-table">
    <tr class="webgrid-row-style">
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.MeetingItemDescription)
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.PercentageCompleted)
        </th>
        <th class="webgrid-header">
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th class="webgrid-header">Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingItemDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PercentageCompleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MeetingItemId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MeetingItemId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MeetingItemId })
        </td>
    </tr>
}

</table>
