@model MeetingTracker.Models.Attendees

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendees</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Meeting.MeetingDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Meeting.MeetingDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AttendeesId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
