@model IEnumerable<MeetingTracker.Models.Attendees>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Meeting.MeetingDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Meeting.MeetingDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AttendeesId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AttendeesId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AttendeesId })
        </td>
    </tr>
}

</table>
